/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css"


footer {
    background-color: blue;
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    color: white;
    text-align: center;

}